#contact {
  @include white-bg;

  .row {
    .info {
      .contact-form {
        max-width: 600px;
        margin: 0 auto;

        label {
          font-family: Lora;
          margin: 0;
        }
        input,
        textarea {
          border: none;
          border-radius: 0px;
          border-bottom: 1px solid #555;
        }
        .button1 {
          display: block;
          min-width: 100%;
          p {
            color: #000;
            letter-spacing: 2px;
          }
        }
      }
    }
    .intro-icon {
      margin-right: 20px;
    }
  }
}
