#promise {
  @include color-bg;

  .row {
    padding: 0px;
    margin-top: 75px;
    flex-direction: column;
    text-align: justify;
    p {
      padding-bottom: 30px;
    }
    .signature {
      padding-top: 40px;
      width: 300px;
    }
  }
}

// SHIFT TO MEDIUM
@media (max-width: 991px) {
  #promise {
    padding: 0 30px;
  }
}

// SHIFT TO SMALL
@media (max-width: 575px) {
  #promise {
    padding: 0px;
  }
}
