.blue0 {
  color: #3d6799;
}

.blue1 {
  color: #759ed8;
}

.blue2 {
  color: #3f75bf;
}

.blue3 {
  color: #305193;
}

.grey1 {
  color: #898888;
}

.grey2 {
  color: #6d6c6c;
}

.invisible {
  opacity: 0;
}
